.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 280px;
    background-color: #ebedeb;
    padding: 20px;
    cursor: pointer;
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}