.container {
    display: flex;
    flex-direction: column;

    img {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
        align-self: center;
        overflow: hidden;
    }

    .screenshots ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        img {
            margin: 2px;
        }
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        padding-right: 10px;
    }
    
    .favorite-icon{
        padding-top: 10px;
    }
}