.game-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    
    width: 70vw;

    li {
        list-style: none;
        margin: 2px;
    }
}