.header-container {
    background-color: var(--vlab-primary-color);
    color: var(--vlab-text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    height: 100px;
}