:host{
    position: fixed;
    z-index: 100;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
}

.project-name {
    background-color: var(--vlab-primary-color);
    color: var(--vlab-text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #414542;
    align-items: center;
    height: 40px;

    p {
        font-size: 1.2rem;
        color: white;
        margin: 0 30px;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    .menu {
        p{
            margin: 0 8px;
        }
    }
}