.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    .filter{
        width: 80%;
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        border: 4px solid grey;
        border-radius: 18px;
    }

    .radio-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .radio-wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 8px 0;
        margin-right: 20px;
    }

    .btn-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;
        width: 100%;

        .btn {
            font-size: 1rem;
            border-radius: 4px;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            padding: 8px;
            width: 35%;
            border: none;
            cursor: pointer;
            overflow: hidden;
        }
    }

    .order{
        margin-bottom: 20px;
    }
}